<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>eDziennik Lekcyjny</title>
    <link rel="stylesheet" href="../../style/css/mainView/main.css">
    <script src="../../apps/app.js"></script>

    <!-- Google Login API -->
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="672890997690-eer6plc2b09fp6sf8daovnlrsp81i7pd.apps.googleusercontent.com">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="logo">
        <div class="jumbotron text-center">
            <h1>eDziennik Lekcyjny</h1>
            <p>elektroniczne wsparcie placówek edukacyjnych</p>
        </div>
    </div>
    <div class="main">
            <h3 id="login_message">ZALOGUJ:</h3>
            <div style="width: 40%;" class="g-signin2" id="login_button" data-onsuccess="onSignIn"></div>
        </div>
    </div>

    <div class="links">

        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <h3>Column 1</h3>
                    <p>Lorem ipsum dolor..</p>
                    <p>Ut enim ad..</p>
                </div>
                <div class="col-sm-4">
                    <h3>Column 2</h3>
                    <p>Lorem ipsum dolor..</p>
                    <p>Ut enim ad..</p>
                </div>
                <div class="col-sm-4">
                    <h3>Column 3</h3>
                    <p>Lorem ipsum dolor..</p>
                    <p>Ut enim ad..</p>
                </div>
            </div>
        </div>



    </div>
    <div class="footer">

        <footer class="container-fluid bg-4 text-center">
            <p>© GMO 2017</p>
        </footer>

    </div>


</body>
</html>