<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Rozwiń nawigację</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#" routerLink="/">eDziennik Lekcyjny</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul id="nav1" class="nav navbar-nav navbar-left" >
          <li><a id="students"  [routerLink]="['/students']">Studenci</a></li>
          <li><a id="subjects"  [routerLink]="['/subjects']">Przedmioty</a></li>
          <li><a id="schedule"  [routerLink]="['/schedule']">Plan zajęć</a></li>
          <li><a id="settings"  [routerLink]="['/settings']">Ustawienia</a></li>
          <li><a id="about"  [routerLink]="['/about']">O aplikacji</a></li>
          <li><a id="chat"  [routerLink]="['/chat']">Forum</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="!(afAuth.authState | async)"><a (click)="login()">Zaloguj</a></li>
        <li *ngIf="(afAuth.authState | async)"><a (click)="logout()">Wyloguj</a></li>
        <li *ngIf="!(afAuth.authState | async)"><a>Zarejestruj</a></li>
      </ul>
    </div>
  </div>
</nav>
