.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
  color: #333;
  background-color: #e7e7e7;
}
ul#nav1 li.tab_selected a, ul#nav1 li.tab_selected a:hover {
  background: #635B53;
  color: #FFF;
}
