<app-navbar></app-navbar>
<div class="container">
  <h2>Studia Podyplomowe</h2>
  <h2>"Aplikacje i usługi internetowe", 2016/2017, semestr II</h2>
  <table class="table table-bordered table-striped">
    <thead>
    <tr>
      <th>Lp</th>
      <th>Przedmiot</th>
      <th>Prowadzący</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>1</td>
      <td>Testowanie oprogramowania</td>
      <td>mgr Adrian Nicoś</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Zaawansowane programowanie w języku skryptowym</td>
      <td>inż. Maciej Walczak</td>
    </tr>
    <tr>
     <td>3</td>
      <td>Projekt grupowy</td>
      <td>mgr inż. Kamil Maraś</td>
    </tr>
    <tr>
      <td>4</td>
      <td>Zaawansowane programowanie w języku skryptowym</td>
      <td>inż. Maciej Walczak</td>
    </tr>
    <tr>
      <td>5</td>
      <td>Testowanie oprogramowania</td>
      <td>mgr Adrian Nicoś</td>
      </tr>
    <tr>
      <td>6</td>
      <td>Projekt grupowy</td>
      <td>mgr inż. Kamil Maraś</td>
    </tr>
    </tbody>
  </table>
    <hr>
</div>
