<div *ngIf="serverService.currentUserMail!='0'" class="container">
  <h2>Studia Podyplomowe</h2>
  <h3>"Aplikacje i usługi internetowe", 2016/2017, semestr II</h3>
  <table id="subjects_table" class="table table-bordered table-striped ">
    <thead>
      <tr>
        <th>Przedmiot</th>
        <th>Wykładowca</th>
        <th *ngIf="serverService.currentUserRole==='admin'"></th>
        <th *ngIf="serverService.currentUserRole==='admin'"></th>
      </tr>
    </thead>
    <tbody *ngFor="let subject of subjects">
      <tr>
        <td (click)="onSelect(subject)">{{subject.name}}</td>
        <td>{{subject.lecturer}}</td>
        <td *ngIf="serverService.currentUserRole==='admin'" class="text-center"><button type="button" class="btn btn-primary btn-sm" (click)="onEditClick(subject)">Edycja</button></td>
        <td *ngIf="serverService.currentUserRole==='admin'" class="text-center"><button type="button" class="btn btn-danger btn-sm" (click)="onDeleteClick(subject.$key)">Usuń</button></td>
      </tr>
    </tbody>
  </table>
  <hr>
  <button *ngIf="serverService.currentUserRole==='admin'" type="button" id="add-subject-button" class="btn btn-primary" (click)="onAddInit()">Dodaj przedmiot</button>
  <div *ngIf="detailsInit">
  <h2>Oceny dla {{selectedSubject.name}}</h2>
  <table class="table table-bordered table-striped">
    <thead>
    <tr>
      <th>Imię i nazwisko</th>
      <th>Semestr I </th>
      <th>Semestr II </th>
    </tr>
    </thead>
    <tbody *ngFor="let student of students">
    <tr *ngIf="serverService.currentUserRole==='student' && serverService.currentUserMail==student.email ">
      <td>{{student.name}} {{student.lastname}}</td>
      <td *ngIf="serverService.currentUserRole==='student'">
        <span *ngFor="let grade of grades">
          <span *ngIf="grade.studentId==student.$key && grade.subjectId==selectedSubject.$key && grade.semester=='I'">{{grade.value}} </span>
        </span>
      </td>
      <td *ngIf="serverService.currentUserRole==='student'">
        <span *ngFor="let grade of grades">
          <span *ngIf="grade.studentId==student.$key && grade.subjectId==selectedSubject.$key && grade.semester=='II'">{{grade.value}}</span>
        </span>
      </td>
      <td *ngIf="serverService.currentUserRole!='student'">
        <span *ngFor="let grade of grades">
          <span *ngIf="grade.studentId==student.$key && grade.subjectId==selectedSubject.$key && grade.semester=='I'" (dblclick)="onDblGradeClick(grade.$key)">{{grade.value}} </span>
        </span>
      </td>
      <td *ngIf="serverService.currentUserRole!='student'">
        <span *ngFor="let grade of grades">
          <span *ngIf="grade.studentId==student.$key && grade.subjectId==selectedSubject.$key && grade.semester=='II'" (dblclick)="onDblGradeClick(grade.$key)">{{grade.value}}</span>
        </span>
      </td>
    </tr>
    <tr *ngIf="serverService.currentUserRole!='student'">
      <td>{{student.name}} {{student.lastname}}</td>
      <td *ngIf="serverService.currentUserRole==='student'">
        <span *ngFor="let grade of grades">
          <span *ngIf="grade.studentId==student.$key && grade.subjectId==selectedSubject.$key && grade.semester=='I'">{{grade.value}} </span>
        </span>
      </td>
      <td *ngIf="serverService.currentUserRole==='student'">
        <span *ngFor="let grade of grades">
          <span *ngIf="grade.studentId==student.$key && grade.subjectId==selectedSubject.$key && grade.semester=='II'">{{grade.value}}</span>
        </span>
      </td>
      <td *ngIf="serverService.currentUserRole!='student'">
        <span *ngFor="let grade of grades">
          <span *ngIf="grade.studentId==student.$key && grade.subjectId==selectedSubject.$key && grade.semester=='I'" (dblclick)="onDblGradeClick(grade.$key)">{{grade.value}} </span>
        </span>
      </td>
      <td *ngIf="serverService.currentUserRole!='student'">
        <span *ngFor="let grade of grades">
          <span *ngIf="grade.studentId==student.$key && grade.subjectId==selectedSubject.$key && grade.semester=='II'" (dblclick)="onDblGradeClick(grade.$key)">{{grade.value}}</span>
        </span>
      </td>
    </tr>
    </tbody>
  </table>

    <button *ngIf="serverService.currentUserRole!='student'" type="button" id="add-grade-button" class="btn btn-primary" (click)="onAddGradeInit()">Dodaj ocenę</button>

    <div *ngIf="addGradeInit">
    <h4>Dodaj ocenę</h4>
    <div class="form-group">
      <div class="col-xs-12">

      <div class="col-xs-12">
      <label>Student </label>
      <select [(ngModel)]="addStudentId">
        <option *ngFor="let student of students" value='{{student.$key}}'>{{student.name}} {{student.lastname}}</option>
      </select>
      </div>
      <div class="col-xs-12">
      <label>Semestr </label>
      <select [(ngModel)]="addSemester">
        <option value="I">I</option>
        <option value="II">II</option>
      </select>
      </div>
      <div class="col-xs-12">
      <label>Ocena </label>
        <select [(ngModel)]="addValue" type="text">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
        </select>
      </div>
      <button type="button" class="gmo-btn btn btn-primary" (click)="onAddGradeSubmit()">Dodaj</button>


    </div>
    </div>
  </div>
  </div>

  <div *ngIf="editInit">
    <div class="container">

      <h3>Edycja Przedmiotu</h3>

      <div class="form-group">
        <div class="col-xs-12">
          <label for="ex1">Przedmiot</label>
          <input [(ngModel)]="selectedSubject.name" placeholder="name" class="form-control" id="ex1" type="text"/>
        </div>
        <div class="col-xs-12">
          <label for="ex2">Wykładowca</label>
          <input [(ngModel)]="selectedSubject.lecturer" placeholder="lecturer" class="form-control" id="ex2" type="text">
        </div>
        <button type="button" class="gmo-btn btn btn-primary" (click)="onEditSubmit(selectedSubject.$key, selectedSubject)">Zapisz zmiany</button>
        <button type="button" class="gmo-btn btn btn-primary" (click)="CancelEdit()">Anuluj</button>
      </div>
    </div>
  </div>


  <div *ngIf="initSubject">

    <div class="container">

      <h3>Dodanie Przedmiotu</h3>

      <div class="form-group">
        <div class="col-xs-12">
          <label for="ex1">Przedmiot</label>
          <input [(ngModel)]="addedSubject.name" placeholder="Przedmiot" class="form-control" id="ex11" type="text"/>
        </div>
        <div class="col-xs-12">
          <label for="ex2">Wykładowca</label>
          <input [(ngModel)]="addedSubject.lecturer" placeholder="Wykładowca" class="form-control" id="ex12" type="text">
        </div>
        <button type="button" class="gmo-btn btn btn-primary" (click)="onAddSubmit(addedSubject)">Dodaj</button>
        <button type="button" class="gmo-btn btn btn-primary" (click)="CancelAdd()">Anuluj</button>
      </div>
    </div>
  </div>

</div>
<br>
<br>
<br>
