<app-navbar></app-navbar>
<div class="container">
  <h2>Studia Podyplomowe</h2>
  <h2>"Aplikacje i usługi internetowe", 2016/2017, semestr II</h2>
  <table class="table table-bordered table-striped ">
    <thead>
    <tr>
      <th>Lp</th>
      <th>Przedmiot</th>
      <th>Prowadzący</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>1</td>
      <td>Testowanie oprogramowania</td>
      <td>mgr Adrian Nicoś</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Zaawansowane programowanie w języku skryptowym</td>
      <td>inż. Maciej Walczak</td>
    </tr>
    <tr>
     <td>3</td>
      <td>Projekt grupowy</td>
      <td>mgr inż. Kamil Maraś</td>
    </tr>
    <tr>
      <td>4</td>
      <td>Podstawy programowania</td>
      <td>mgr inż. Waldemar Korlub</td>
    </tr>
    <tr>
      <td>5</td>
      <td>Podstawy inżynierii oprogramowania</td>
      <td>dr inż. Jarosław Kuchta</td>
      </tr>
    <tr>
      <td>6</td>
      <td>Dokumenty cyfrowe</td>
      <td>mgr inż. Waldemar Korlub</td>
    </tr>
    </tbody>
  </table>
    <hr>
  <h2>Oceny dla wybranego przedmiotu</h2>
  <ul class="nav nav-tabs">
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Wybierz przedmiot: <span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li><a href="#tab_d1" data-toggle="tab">Testowanie oprogramowania</a></li>
      <li><a href="#tab_d2" data-toggle="tab">Zaawansowane programowanie w języku skryptowym</a></li>
      <li><a href="#tab_d2" data-toggle="tab">Projekt grupowy</a></li>
      <li><a href="#tab_d2" data-toggle="tab">Podstawy programowania</a></li>
      <li><a href="#tab_d2" data-toggle="tab">Podstawy inżynierii oprogramowania</a></li>
      <li><a href="#tab_d2" data-toggle="tab">Dokumenty cyfrowe</a></li>
    </ul>
  </li>
  </ul>
  <table class="table table-bordered table-striped">
    <thead>
    <tr>
      <th>Imię i nazwisko</th>
      <th>Semestr I </th>
      <th>Semestr II </th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Jan Kowalski</td>
      <td>4</td>
      <td>5</td>
    </tr>
    <tr>
      <td>Zbigniew Nowak</td>
      <td>3</td>
      <td>4</td>
    </tr>
    <tr>
      <td>Andrzej Olszewski</td>
      <td>5</td>
      <td>4</td>
    </tr>
  </table>
  </div>
