<div class="container">
<h3>Zaloguj się</h3>
  <form (submit)="onLoginSubmit(email, password)">
  <div class="form-group">
    <label>E-Mail</label>
    <input class="form-control"  type="email" id="email" [(ngModel)]="email" name="email">
  </div>
  <div class="input-group">
    <label>Hasło</label>
    <input class="form-control"  type="password" id="password"  [(ngModel)]="password" name="password">
  </div>
  <button type="submit" value="submit" class="gmo-btn btn btn-success" id="login_form">Zaloguj się</button>
  </form>
</div>
