<div class="container" id="loginComponent">
<h3>Zaloguj się</h3>
  <form (submit)="onLoginSubmit(email, password)">
  <div class="form-group">
    <div class="col-xs-12">
    <label>E-mail</label>
    <input class="form-control"  type="email" id="email" [(ngModel)]="email" placeholder="e-mail" name="email">
  </div>
    <div class="col-xs-12">
    <label>Hasło</label>
    <input class="form-control"  type="password" id="password"  [(ngModel)]="password" placeholder="hasło" name="password">
  </div>
  <button type="submit" value="submit" class="gmo-btn btn btn-success" id="login_form">Zaloguj się</button>
    </div>
  </form>
</div>
