
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">eDziennik Lekcyjny</a>
    </div>
    <ul id="nav1" class="nav navbar-nav" >
      <li><a id="students" class="mainmenu" routerLink="/students">Uczniowie</a></li>
      <li><a id="subjects" class="mainmenu" routerLink="/subjects">Przedmioty</a></li>
      <li><a id="schedule" class="mainmenu" routerLink="/schedule">Plan zajęć</a></li>
      <li><a id="settings" class="mainmenu" routerLink="/settings">Ustawienia</a></li>
      <li><a id="about" class="mainmenu" routerLink="/about">O aplikacji</a></li>

    </ul>
    <div class="g-signin2" id="login_button" data-onsuccess="onSignIn"></div>
  </div>
</nav>

<router-outlet></router-outlet>
