#signup {
  height: 40px;
  width: 100px;
  position: absolute;
  right: 10px;
  top: 5px;
}

#signin {
  height: 40px;
  width: 100px;
  position: absolute;
  right: 150px;
  top: 5px;
}

#logout {
  height: 40px;
  width: 100px;
  position: absolute;
  right: 10px;
  top: 5px;
}

