.footer {
  font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;
  font-weight: 900;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #efefef;
  text-align: center;
  padding-top: 2px;
}

@media (max-width: 768px) {
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto !important;
  }

}
