
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">

      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Rozwiń nawigację</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#" routerLink="/">eDziennik Lekcyjny</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">





        <ul id="nav1" class="nav navbar-nav navbar-left" >

          <ng-template [ngIf]="authService.isSignIn()">
          <li role="presentation" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a id="students" class="mainmenu" routerLink="/students">Uczniowie</a></li>
          <li role="presentation" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a id="subjects" class="mainmenu" routerLink="/subjects">Przedmioty</a></li>
          <li role="presentation" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a id="schedule" class="mainmenu" routerLink="/schedule">Plan zajęć</a></li>
          <li role="presentation" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a id="settings" class="mainmenu" routerLink="/settings">Ustawienia</a></li>
          <li role="presentation" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a id="about" class="mainmenu" routerLink="/about">O aplikacji</a></li>
          <li role="presentation" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a id="chat" class="mainmenu" routerLink="/chat">Forum</a></li>
      </ng-template>
        </ul>
      <ul class="nav navbar-nav navbar-right">
      <ng-template [ngIf]="!authService.isSignIn()">
        <li role="presentation" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a id="signup" routerLink="/signup">Zarejestruj</a></li>
        <li role="presentation" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a id="signin" routerLink="/signin" >Zaloguj</a></li>
      </ng-template>
      <ng-template [ngIf]="authService.isSignIn()">
        <li role="presentation" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a id="logout" routerLink="/"  (click)="logOut()">Wyloguj</a></li>
      </ng-template>
      </ul>



  </div>
  </div>
</nav>

<router-outlet></router-outlet>
