app-navbar {
  margin-bottom: 0;
}

.footer {
  font-family: Arial Black, Helvetica, Verdana, sans-serif;
  font-weight: 900;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

@media (max-width: 768px) {
  .footer {
    position: static;
    bottom: 0;
    width: 100%;
  }

}
