.footer {
  font-weight: bold;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

@media (max-width: 768px) {
  .footer {
    position: static;
    bottom: 0;
    width: 100%;
  }

}
