h2 {
  text-align: center;
}
h3 {
  font-weight: bold;
}
th {
  background-color: #7f7f7f;
  color: white;
  text-align: center;
  horiz-align: center;
}

.table-striped>tbody>tr:nth-of-type(odd) {
  background-color: #e7e7e7;
}
/*
.table-striped>tbody>tr:nth-of-type(even) {
  background-color: #d9e2f3;
}
*/

.container{
  padding-bottom: 40px;
}
#add-button {
  margin-bottom: 20px;
}
.gmo-btn {
  margin-top: 10px;
}
