<app-navbar></app-navbar>
<div class="container">
  <h2>Studia Podyplomowe {{currentRole}}</h2>
  <h2>"Aplikacje i usługi internetowe", 2016/2017, semestr II</h2>
  <table class="table table-bordered table-striped">
    <thead>
    <tr>
      <th>Data</th>
      <th>Godziny</th>
      <th>L. godz.</th>
      <th>Przedmiot</th>
      <th>Typ</th>
      <th>Sala</th>
      <th>Prowadzący</th>
      <th *ngIf="currentRole==='sekretarka'"></th>
      <th *ngIf="currentRole==='sekretarka'"></th>
    </tr>
    </thead>
    <tbody *ngFor="let sched of schedule" >
    <tr>
      <td>{{sched.date}}</td>
      <td>{{sched.time}}</td>
      <td>{{sched.duration}}</td>
      <td>{{sched.subject}}</td>
      <td>{{sched.type}}</td>
      <td>{{sched.room}}</td>
      <td>{{sched.lecturer}}</td>
      <td *ngIf="currentRole==='sekretarka'" class="text-center"><button type="button" class="btn btn-primary btn-sm" (click)="onEditClick(sched)">Edycja</button></td>
      <td *ngIf="currentRole==='sekretarka'" class="text-center"><button type="button" class="btn btn-danger btn-sm" (click)="onDeleteClick(sched.$key)">Usuń</button></td>
    </tr>
    </tbody>
  </table>
  <button *ngIf="currentRole==='sekretarka'" type="button" class="btn btn-primary" (click)="onAddInit()">Dodaj pozycję</button>
  <p>W - Wykłady</p>
  <p>L - Laboratorium</p>
  <p>P - Projekty</p>
  <hr>

  <div *ngIf="editInit">
    <div class="container">

      <h3>Edycja pozycji w Planie Zajęć</h3>


        <div class="form-group">
          <div class="col-xs-12">
            <label for="ex1">Data</label>
            <input [(ngModel)]="selectedSched.date" placeholder="date" class="form-control" id="ex1" type="Date"/>
          </div>
          <div class="col-xs-12">
            <label for="ex2">Godziny</label>
            <input [(ngModel)]="selectedSched.time" placeholder="time" class="form-control" id="ex2" type="text">
          </div>
          <div class="col-xs-12">
            <label for="ex3">L. godz.</label>
            <input [(ngModel)]="selectedSched.duration" placeholder="duration" class="form-control" id="ex3" type="text">
          </div>
          <div class="col-xs-12">
            <label for="ex4">Przedmiot</label>
            <input [(ngModel)]="selectedSched.subject" placeholder="subject" class="form-control" id="ex4" type="text">
          </div>
          <div class="col-xs-12">
            <label for="ex5">Typ</label>
            <input [(ngModel)]="selectedSched.type" placeholder="time" class="form-control" id="ex5" type="text">
          </div>
          <div class="col-xs-12">
            <label for="ex6">Sala</label>
            <input [(ngModel)]="selectedSched.room" placeholder="room" class="form-control" id="ex6" type="text">
          </div>
          <div class="col-xs-12">
            <label for="ex7">Prowadzący</label>
            <input [(ngModel)]="selectedSched.lecturer" placeholder="lecturer" class="form-control" id="ex7" type="text">
          </div>
          <button type="button" class="btn btn-primary" (click)="onEditSubmit(selectedSched.$key, selectedSched)">Zapisz zmiany</button>
        </div>
    </div>
  </div>

  <div *ngIf="initSched">


    <div class="container">

      <h3>Dodanie pozycji do Planu Zajęć</h3>


      <div class="form-group">
        <div class="col-xs-12">
          <label for="ex1">Data</label>
          <input [(ngModel)]="addedSched.date" placeholder="date" class="form-control" id="ex1" type="Date"/>
        </div>
        <div class="col-xs-12">
          <label for="ex2">Godziny</label>
          <input [(ngModel)]="addedSched.time" placeholder="time" class="form-control" id="ex2" type="text">
        </div>
        <div class="col-xs-12">
          <label for="ex3">L. godz.</label>
          <input [(ngModel)]="addedSched.duration" placeholder="duration" class="form-control" id="ex3" type="text">
        </div>
        <div class="col-xs-12">
          <label for="ex4">Przedmiot</label>
          <input [(ngModel)]="addedSched.subject" placeholder="subject" class="form-control" id="ex4" type="text">
        </div>
        <div class="col-xs-12">
          <label for="ex5">Typ</label>
          <input [(ngModel)]="addedSched.type" placeholder="time" class="form-control" id="ex5" type="text">
        </div>
        <div class="col-xs-12">
          <label for="ex6">Sala</label>
          <input [(ngModel)]="addedSched.room" placeholder="room" class="form-control" id="ex6" type="text">
        </div>
        <div class="col-xs-12">
          <label for="ex7">Prowadzący</label>
          <input [(ngModel)]="addedSched.lecturer" placeholder="lecturer" class="form-control" id="ex7" type="text">
        </div>
        <button type="button" class="btn btn-primary" (click)="onAddSubmit(addedSched)">Dodaj</button>
      </div>
    </div>

  </div>


</div>
