.table {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}

.table-striped>tbody>tr:nth-of-type(odd) {
  background-color: #e7e7e7;
}

h2 {
  text-align: center;
}

th {
  background-color: #7f7f7f;
  color: white;
  text-align: center;
  horiz-align: center;
}

.form-control:focus {
  border-color: #e7e7e7;
}
