<app-navbar></app-navbar>
<div class="container">
  <h2>Studia Podyplomowe</h2>
  <h2>"Aplikacje i usługi internetowe", 2016/2017, semestr II</h2>
  <div class="form-group">
    <label for="student">Student</label>
    <select type="student" class="form-control" id="student" name="student">
      <option *ngFor="let student of students">{{ student }}</option>
    </select>
  </div>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Lp</th>
      <th>Przedmioty</th>
      <th>Oceny cząstkowe</th>
      <th>Średnia ocena</th>
      <th>Ocena za I semestr</th>
      <th>Oceny cząstkowe</th>
      <th>Średnia ocena</th>
      <th>Ocena za II semestr</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>1</td>
      <td>Podstawy programowania</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>2</td>
      <td>Architektury systemów internetowych</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>3</td>
      <td>Podstawy inżynierii oprogramowania</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>4</td>
      <td>Testowanie</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    </tbody>
  </table>
  <hr>
</div>
