<div *ngIf="serverService.currentUserMail!='0' && serverService.currentUserRole!='student'" class="container" id="studentsComponent">
  <h2>Studia Podyplomowe</h2>
  <h3>"Aplikacje i usługi internetowe", 2016/2017, semestr II</h3>
  <table id="students_table" class="table table-bordered table-striped ">
    <thead>
    <tr>
      <th>Imię</th>
      <th>Nazwisko</th>
      <th>E-mail</th>
      <th *ngIf="serverService.currentUserRole==='admin'"></th>
      <th *ngIf="serverService.currentUserRole==='admin'"></th>
    </tr>
    </thead>
    <tbody *ngFor="let student of students">
    <tr id="student_row">
      <td>{{student.name}}</td>
      <td>{{student.lastname}}</td>
      <td id="email_content">{{student.email}}</td>
      <td *ngIf="serverService.currentUserRole==='admin'" class="text-center"><button type="button" class="btn btn-warning btn-sm" id="edit_button" (click)="onEditClick(student)">Edycja</button></td>
      <td *ngIf="serverService.currentUserRole==='admin'" class="text-center"><button type="button" class="btn btn-danger btn-sm" id="delete_student_button" (click)="onDeleteClick(student.$key)">Usuń</button></td>
    </tr>
    </tbody>
  </table>
  <hr>
  <button *ngIf="serverService.currentUserRole==='admin'" type="button" id="add-button" class="btn btn-primary" (click)="onAddInit()">Dodaj pozycję</button>

  <div *ngIf="editInit">
    <div class="container">

      <h3>Edycja danych Studenta</h3>

      <div class="form-group">
        <div class="col-xs-12">
          <label for="ex1">Imię</label>
          <input [(ngModel)]="selectedStudent.name" placeholder="Imię" class="form-control" id="ex1" type="text"/>
        </div>
        <div class="col-xs-12">
          <label for="ex2">Nazwisko</label>
          <input [(ngModel)]="selectedStudent.lastname" placeholder="Nazwisko" class="form-control" id="ex2" type="text">
        </div>
        <div class="col-xs-12">
          <label for="email_student_field">E-mail</label>
          <input [(ngModel)]="selectedStudent.email" placeholder="email" class="form-control" id="email_student_field" type="text">
        </div>
        <button type="button" class="gmo-btn btn btn-success" id="edit_submit_button" (click)="onEditSubmit(selectedStudent.$key, selectedStudent)">Zapisz zmiany</button>
        <button type="button" class="gmo-btn btn btn-basic" (click)="CancelEdit()">Anuluj</button>

      </div>
    </div>
  </div>


  <div *ngIf="initStudent">

    <div class="container">

      <h3>Dodanie nowego Studenta</h3>

      <div class="form-group">
        <div class="col-xs-12">
          <label for="ex1">Imię</label>
          <input [(ngModel)]="addedStudent.name" placeholder="Imię" class="form-control" id="add_name_field" type="text"/>
        </div>
        <div class="col-xs-12">
          <label for="ex2">Nazwisko</label>
          <input [(ngModel)]="addedStudent.lastname" placeholder="Nazwisko" class="form-control" id="add_lastname_field" type="text">
        </div>
        <div class="col-xs-12">
          <label for="add_email_field">E-mail</label>
          <input [(ngModel)]="addedStudent.email" placeholder="email" class="form-control" id="add_email_field" type="text">
        </div>
        <button type="button" class="gmo-btn btn btn-success" id="add_student_button" (click)="onAddSubmit(addedStudent)">Dodaj</button>
        <button type="button" class="gmo-btn btn btn-basic" (click)="CancelAdd()">Anuluj</button>
      </div>
    </div>
  </div>
</div>
<br id="end">
